
.singleBookCard {
    border: 1px solid #ddd;
    background-color: #333333c0;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    overflow: hidden; 
    max-height: 600px; 
  }


  .lightCard {
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    overflow: hidden; 
    max-height: 600px; 

  }
  
  .singleBookCard:hover, .lightCard:hover {
    transform: scale(1.05); 
  }
  
  .singleBookCard img, .lightCard img {
    object-fit: contain; 
    width: 100%;
    height: 350px; 
  }
  
  .singleBookTitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f16458;
    margin-top: 1rem;
    text-align: center; 
  }
  
  .singleBookText {
    font-size: 1.2rem;
    color: #f55546;
    text-align: center; 
    margin-bottom: 1rem;
  }
  
 
  .singleBookComments {
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px; 
    max-height: 350px; 
    overflow-y: auto;
  }
  
  .commTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #ff6f61; 
  }
  
  /* Stile per ogni commento */
  .singleBookComments ul {
    padding-left: 0;
  }
  
  .singleBookComments li {
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd; /* Linea separatrice tra i commenti */
    padding-bottom: 10px; /* Padding per il margine inferiore */
  }
  
  .singleBookComments button {
    transition: background-color 0.3s, transform 0.3s; /* Transizione per i pulsanti */
  }
  
  .singleBookComments button:hover {
    transform: scale(1.05); /* Effetto zoom al passaggio del mouse sui pulsanti */
  }
  