.cards {
  max-height: 500px;
  background-color: rgba(30, 29, 29, 0.757);
  border: 1px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  
}

.lightCards {
  max-height: 500px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  

}

.cards:hover {
  background-color: rgba(0, 0, 0, 0.897);
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.cards img {
  max-height: 250px;
  width: 100%;
}

.cardTitle {
  font-size: 1rem;
  font-weight: bold;
  display: -webkit-box;
  text-align: center;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
}

.card-btn {
  background-color: #ff6f61;
  color: white;
  padding: 6px 30px;
  border: none;
  border-radius: 20px;
  transition: background-color 0.3s, transform 0.3s;
}

.card-btn:hover {
  background-color: #ff8a73;
  transform: scale(1.05);
}

.cardBorder {
  border: 5px solid #ff6f61;
}
