.cards {
  max-height: 450px;
  background-color: rgba(30, 29, 29, 0.757);
  border: 1px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  
}

.lightCards {
  max-height: 450px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  color: #ff6f61;
  

}

.lightCards img, .cards img {
  max-height: 220px;
  width: 100%;
}


.lightCards:hover {
transform: scale(1.1);
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
cursor: pointer;}

.cards:hover{
  background-color: rgba(0, 0, 0, 0.897);
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}



.cards h3, .lightCards h3 {
  font-size: 1rem;
  font-weight: bold;
  display: -webkit-box;
  text-align: center;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
}

.cards .btn , .lightCards .btn {
  background-color: #ff6f61;
  color: white;
  padding: 6px 30px;
  border: none;
  border-radius: 20px;
  transition: all 0.1s, transform 0.3s;
}

.cards .btn:hover, .lightCards .btn:hover {
  background-color: #ff8a73;
  transform: scale(1.08);
  color: yellow;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

.cardBorder {
  border: 5px solid #ff6f61;
}
