.btn {
    padding: 5px;
    background-color: rgb(32, 124, 152);
    color: white;
}

.primary {
    padding: 5px 40px;
    background-color: rgb(194, 43, 214);
    color: white;
}

.secondary {
    padding: 5px;
    background-color: rgb(213, 198, 23);
    color: white;
}
