.mainContainer {
    background-image: url(../../assets/pexels-nietjuh-1831744.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px #00000080;
}


