.logo:hover {
    color: #00FF00;
    cursor: pointer;
    transform: scale(1.2);
}

.logo {
    transition: all 0.2s ease-in-out;
}


.footerRow {
    color: #ff6f61;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}