.nav-bar {
  background-color: rgba(29, 27, 27, 0.884);
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color:  #ff6f61;
  position: sticky; 
  top: 0; 
  z-index: 100; 
 
}

.lightNav {
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color:  #ff6f61;
}

.navImg {
  object-fit: cover;
  margin: 0;
  padding: 3px;
}
.navList {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 10px;
  margin: 0;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #ff6f61;
  
}

.navList li {
  transition: all 0.3s ease-in-out;
  
}

.navList li:hover  {
  transform: scale(1.1);
}



