.nav-bar {
    background-color: rgb(225, 93, 227);
    
}

.navImg {
    object-fit: cover;
    
}
.navList {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;
}

.navList li a {
    text-decoration: none;
    color: white;
}